/* search */
.section1 {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
  }
  
  .searchBox {
    background: #151515;
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: .5s;
    overflow: hidden;
    border-radius: 1.3em 1.3em;
  }
  
  .searchBox i {
    color: #fff;
  }
  
  .searchBox .search {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .searchBox.active {
    width: 90%;
    border-radius: 1.3em 1.3em;
  }
  
  .searchBox .close {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    scale: 0;
    transition: .5s;
  }
  
  .searchBox.active .close {
    scale: 1;
    transition-delay: .5s;
  }
  
  .searchBox .searchInput {
    position: absolute;
    left: 60px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 60px;
  }
  
  .searchBox .searchInput input {
    position: absolute;
    width: 100%;
    color: #fff;
    height: 100%;
    border: none;
    outline: none;
    background: #151515;
  }
  
  #searchContainer{
    display: flex;
    justify-content: center;
  }